@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.hero {
  
  opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below */
    animation: fadeInUp 1s forwards; /* Apply animation */
}
@keyframes fadeInUp {
    to {
        opacity: 1; /* End fully visible */
        transform: translateY(0); /* End at original position */
    }
}